@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  margin: 0;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

html {
  height: 100%;
}

body{
  font-family: poppins;
  color: white;
}

.container {
  background-color: #171133;
  width: 100%;
  max-width: 1290px;
  margin: 20px auto;
  display: grid;
  grid-template-areas:    "nav"
                          "ppal"
                          "basic"
                          "cards"
                          "stay"
                          "faq"
                          "uni"
                          "get"
                          "post"
                          "about"
                          "footer";
}
/*Primera Area*/
#nav {
  background-color: white;
  display:flex;
  grid-area: nav;
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 3rem;
  max-width: 1290px;
  font-size: 1rem;
  color: #1d109e;
}
.menu{
  padding-left: 8rem;
  width: 90%;
  display: flex;
  justify-content:space-between;
  height: 3rem;
  align-items:center;
}
.menu ul{
  display: flex; 
  align-items: center;   
}
.menu li{
    margin-right: 1.5rem;
}
.menu button{
    color: white;
    background-color: #3639ae;
    border-radius: 6px;
    border: solid;
    border-color: #3639ae;
}
a, li{
  font-family: poppins;
  color: #9898d6;
}
nav li:hover{
  background-color: white;
}
nav li:hover a{
  color: rgb(59 72 241);
}

/*Segunda Area*/
.ppal{
  position: relative;
  grid-area: ppal;
  display: flex;
  width: 100%;
  height: 35rem;
  background: linear-gradient(0deg, #171133, #3691b6);
}  
#texto{
  width: 50%;
  padding-top: 7rem;
  padding-left: 8rem;
  margin-top: 1rem;
  position: absolute;  
}
.ppal h1{
  font-size: 3rem;
}
.ppal button{
  color: white;
  background-color: #121158;
  width: 12rem;
  height: 3rem;
  padding-top: .4rem;
  border-radius: 2rem;
  border: solid;
  border-color: #121158;
  margin-top: 1rem;
  font-weight: 800;
}
#celu{
  position: absolute;
  top: 4rem;
  left: 47rem;
  height: 27rem;
}
/*Tercera Area*/ 
.basic{
  grid-area: basic;
  width: 100%;
  height: 35rem;
}
#brands{
  background-color: white;
  justify-content:space-around; 
  width: 80%;
  border-radius: 10px;
  position: relative;
  left: 100px;
  display: grid;
  grid-template-areas: "b2 b3 b4 b5 b6 b7";
  }
#text2{
    padding-top: 150px;
    text-align: center;
    justify-content: center;
}
#text2 h1{
  font-size: 3rem;
}

/*Cuarta Area*/
.cards{
  grid-area: cards;
  width: 100%;
  height: 35rem;
  position: relative;
}

.container-slider {
  width: 90%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slider{
  display: flex;
  width: 200%;
  height: 300px;
  margin-left: -100%;
}

.slider__section{
  /*display: block;*/
  margin-left: 40px;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 1rem;
  width: 100%;  
  height: 90%;
  border-radius: 10px;
  background-color: whitesmoke;  
  color: rgb(165, 165, 192);
  /*box-shadow: 0 0 0,
              0px 50px 0px;*/
}
.slider__section h2{
  color: #3C3B75;
  margin-top: 1rem;
}
.slider__section p{
  margin-top: 1rem;
  font-size: 11.5px;
}
#icon1{
  font-size: 50px;
  color: white;
  padding: 1rem;
  background-color: #35BFE7;
  border-radius: 5%;
}

#icon2{
  font-size: 50px;
  color: white;
  padding: 1rem;
  background-color: #FA4C9A;
}
#icon3{
  font-size: 50px;
  color: white;
  padding: 1rem;
  background-color:#ECBF24;
}
#icon4{
  font-size: 50px;
  color: white;
  padding: 1rem;
  background-color: tomato;
}
#icon5{
  font-size: 50px;
  color: white;
  padding: 1rem;
  background-color: #35BFE7;
  }
#icon6{
  font-size: 50px;
  color: white;
  padding: 1rem;
  background-color:#ECBF24;
  }



.slider__btn{
  position: absolute;
  color: red;
  width: 40px;
  height: 40px;
  background-color: rgb(165, 165, 192, 0.7);
  top: 85%;
  transform: translateX(50%);
  text-align: center; 
  border-radius: 50%;
}
.slider__btn:hover{
  background-color: #fff;
}
.slider__btn--left{
left: 100px;
}
.slider__btn--rigth{
right: 100px;
}

/*QuintaArea*/
.stay{
  grid-area: faq;
  width: 100%;
  height: 35rem;
  position: relative;
}
#cel{
  position: absolute;
  left: 3rem;
} 
#text3{
  position: absolute;
  left: 40rem;
  top: 1rem;
}
#text3 h1{
  font-size: 3rem;
}
#butstay button{
  background-color: #3639AE;
  color: white;
  width: 200px;
  height: 60px;
  border-radius: .6rem;
  border: solid;
  border-color: #121158;
  font-weight: 800;
  margin-top: 2rem;
 }
 
 /*sexta area*/
.faq{
  grid-area: faq;
  width: 100%;
  height: 35rem;
  text-align: center;
  justify-content: center;
  position: relative;
}
.icon{
    justify-content: space-around;
    display: grid;
    grid-template-areas: "f1 f2 f3 f4";
    position: relative;
}
#text4{
  position: absolute;
  top: 10rem;
  left: 28rem;
  }
#text4 h1{
  font-size: 3rem;
}
/*Septima Area*/
.uni{
  grid-area: uni;
  width: 100%;
  height: 35rem;
  position: relative;
}
.uni #text5{
  position: absolute;
  margin-left: 9rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #1B2A4E;
}

/*Octava Area*/
.get{
  grid-area: get;
  width: 100%;
  height: 35rem;
  position: relative;
}
#texto6{
  display: flex;
  /*position: absolute;*/
  width: 85%;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #1c17a1, #1173c7, #06c9ea);
  margin-left: 5rem;
}
#texto6a{
  padding-bottom: 8rem;
  padding-top: 5rem;
  padding-left: 6rem;
}
#texto6a h1{
  font-size: 3rem;
}
#but4{
  background-color: white;
  color: black;
  width: 14rem;
  height: 4rem;
  border-radius: .6rem;
  border: solid;
  border-color: white;
  font-weight: 600;
  margin-top: 2rem;
}
#cel3{
  position: absolute;
  top: -4rem;
  left: 55rem;
}

/*Novena area*/
.post{
  grid-area: post;
  width: 100%;
  height: 35rem;
  position: relative;
}
#post1{
  display: flex;
  width: 80%;
  padding-left: 12rem;
} 
#img1{
  width: 9rem;
}
#texto7{
  margin-left: 3rem;
  padding-top: 1rem;
}
.cont a{
  text-decoration: underline;
  color: white;
  padding-left: 5rem;
}
.cont2 a{
  text-decoration: underline;
  color: white;
  padding-left: 6rem;
}
.cont3 a{
  text-decoration: underline;
  color: white;
  padding-left: 7rem;
}
#post2{
  display: flex;
  width: 80%;
  padding-left: 12rem;
  padding-top: 4rem;
} 
#post3{
  display: flex;
  width: 80%;
  padding-left: 12rem;
  padding-top: 4rem;
} 

/*Decima Area*/
.about{
  grid-area: about;
  width: 100%;
  height: 18rem;
  background-color: #1B2A4E;
  position: relative;
}
#last{
display: flex;
width: 80%;
justify-content: space-between;
padding-left: 7rem;
padding-top: 2rem;
color: #38436D;
}
#redes{
  padding-top: 0.5rem;
}
.ti-twitter, .ti-linkedin, .ti-youtube{
  padding-left: 1rem;
  color: white;
}
.ti-facebook{
  color: white;
}
#last h4{
  color: white;
}
/*Area once*/
footer{
  grid-area: footer;
  width: 100%;
  height: 2rem;
  background-color: #1B2A4E;
  color: whitesmoke;
  font-size: xx-small;
  text-align: center;
  justify-content:center ;
}