@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100vh;

}

.grid-container > * {
  
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headermain3{
  box-sizing: border-box;
  color: #3639AE;
  position: relative;
  margin-bottom: 0;
  font-weight: 600;
  background-color: yellow;
  
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 40px;

}

.headermain3 h1{
position: absolute;
top: 44px;
}





/*BEGIN NABVAR STYLES**************************************************/
#navbarPrincipal {
  width: 100%;
  grid-area: navbar;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#imgCorona{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#imageCorona{  
  width: 50px;
}




/*ANIMATION CORONA ICON********************/
@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
  #imageCorona{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.navbar a{  
  width: 3.7rem;
  padding: 1rem 1.2rem;
  display: block;
  margin:  10% auto;
  text-decoration: none;  
  border-radius: 25%;  
}

.navbar a:hover{
  color: #ffffff;
  background-color: #3639AE;
}

.active, .navbar a:hover{
  background-color: #3639AE;
  color: white;
}

#puntos{
  position: absolute;
  top: 1000px;
  color:#3639AE;  
}
/*END NABVAR STYLES**************************************************/

.sidebar {
  grid-area: sidebar;
  background-color: #fdcfcf;
}

.main3 {
 
  position: relative;
  width: auto;
  grid-area: main3;
  background-color: #f51313;
  width: 100%;
  display: block;
  
}
/*search********************/
#searchs3{
width: 100%;
background-color: cyan;
display:flex;

}
.show3 {
  width: 50%;
  text-align: left;
/*   margin: 0px 0px 8px;
 */  background-color: lightcoral;
  border: 1px solid #ccc;
  height: 3rem;
  top: 4rem;

/*   max-width: 150px;
 */
}

.search3 {
  width: 50%;
  text-align: right;
  background-color: blue;
}

/*STYLE TABLE********************/
#div1{

  overflow: scroll;
  height: 800px;
  width: 920px;
  margin: 0% auto;
  text-align: center;
  background-color: rgb(166, 255, 0);
}
.footerTable3{
  width: 100%;
  display:flex;
  background-color: rgb(255, 0, 212);
  justify-content: center;
  align-items: center;
  

}

.textFooter {
  width: 50%;
  text-align: left;
/*   margin: 0px 0px 8px;*/  
  background-color: rgb(248, 244, 244);
  border: 1px solid #ccc;
  height: 3rem;
  top: 4rem;
}


.previus {
  width: 20%;
  text-align: left;
  background-color: rgb(23, 219, 154);
  border: 1px solid #ccc;
  height: 3rem;
  float: right;
}

.btn-group {
  width: 20%;
  text-align: left;
  background-color: rgb(81, 200, 255);
  height: 3rem;
  float: right;

}


/*END STYLE TABLE ********************/

.grid-container {
  display: grid;
  grid-template:
    "navbar sidebar"  2fr
    "navbar main3" 	 2fr/
	 50px	5fr

}

@media (min-width: 640px) {

  .grid-container {
    display: grid;
    grid-template:
      "navbar sidebar"  1fr
      "navbar main3" 	 2fr/
     50px	1fr
  
  }
  #div1{

    overflow: scroll;
    height: 800px;
    width: 720px;
    margin: 0% auto;
    text-align: center;
  }
  .footerTable3{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
  
  }

}
@media (min-width: 768px) {

  .grid-container {
    display: grid;
    grid-template:
      "navbar sidebar"  1fr
      "navbar main3" 	 2fr/
     50px	1fr
  
  }
  #div1{

    overflow: scroll;
    height: 800px;
    width: 720px;
    margin: 0% auto;
    text-align: center;
  }
  #div1 td, th{
    border:1px solid grey;
    width:auto;
    height: 45px;
    text-align: center;
  }
  .footerTable3{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
  
  }

}


@media (min-width: 1024px) {
  .grid-container {
    grid-template:
      "navbar sidebar main3"   10fr /
     0.7fr    4fr   7fr;
  }

  }

  @media (min-width: 1280px) {
    

      .grid-container {
        grid-template:
        "navbar sidebar"  1fr
        "navbar sidebar main3"   10fr /
        44fr       7fr;   }

       #div1{
        overflow: scroll;
        height: 800px;
        width: 1050px;
        margin: 25px;
        text-align: left;
      }
      .footerTable3{
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        
      
      }

      .main3 {
 
        position: relative;
        width: auto;
        grid-area: main3;
        background-color: #f51313;
        width: 100%;
        display: block;
        
      }

    }


